.c-task {
    &__title {
        margin-top: 20px;
    }

    &__tasks-table-title {
        margin-top: 20px;
    }

    &__table-row-title {
        padding: 0;
    }

    &__single-task-status {
        
        font-weight: 700;
        text-transform: uppercase;

        &--todo {
            color: red;
        }

        &--completed {
            color: green;
        }
    }

    &__remove-task-btn {
        vertical-align: middle !important;

        svg {
            cursor: pointer;
        }
    }
}