.c-task {
    &__title {
        margin-top: 20px;
    }

    &__tasks-table-title {
        margin-top: 20px;
    }

    &__table-row-title {
        padding: 0;
    }

    &__single-task-status {
        color: green;
        font-weight: 700;
        text-transform: uppercase;
    }
}